version: "3"
services:
  mariadb:
    image: mariadb:latest
    environment:
      - MARIADB_USER=example-user
      - MARIADBP_PASSWORD=my_cool_secret
      - MARIADB_ROOT_PASSWORD=my-secret-pw
      - MARIADB_DATABASE=wordpress
    # ports:
    #   - "3306:3306"
    volumes:
      - ./mariadb-data:/var/lib/mysql
  apache:
    image: my-apache2:latest
    ports:
      - "80:80"
